/* Navigation bar */

#img{
  width: 100%;
height: 100px;
}
#niche{
  margin-top: 200px ;
}
.logo{
width: 20%;
height: 100px;
float: left;
}
#side{
float: right;
margin-left :6px;
height: 150px;
}
  
  /* Banner area */
  .banner {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .banner img {
    height: 300px;
    width: 100%;
    z-index: 0;
    
  }
  
  .banner h1 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  #text{
    z-index: 2;
  }
  .banner p {
    font-size: 1.2rem;
    margin-top: 0;
  }
  
  /* Programs section */
  .programs {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .program {
    border: 2px solid black;
    width: 22%;
    padding: 1rem;
    text-align: center;
  }
  
  .program h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .program p {
    font-size: 1.2rem;
    margin-top: 0;
  }
  